.square-image {
    border-style: solid;
    border-width: 2rem;
    border-color: #FBFBFB;
    width: 360px;
}

.box-shadow {
    -webkit-box-shadow: 5px 5px 5px #777;
    -moz-box-shadow: 5px 5px 5px #777;
    box-shadow: 5px 5px 5px #777;
}