/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.square-image {
    border-style: solid;
    border-width: 2rem;
    border-color: #FBFBFB;
    width: 360px;
}

.small-image {
    border-width: 1.5rem;
    width: 240px;
}

.box-shadow {
    -webkit-box-shadow: 5px 5px 5px #777;
    -moz-box-shadow: 5px 5px 5px #777;
    box-shadow: 5px 5px 5px #777;
}

/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.bigly {
    font-size: 1.7em;
}

.heading {
    font-weight: bold;
}

.date-caption {
    font-family: monospace;
    text-decoration: italic;
    text-align: right;
}

.fp-tooltip {
    color: black !important;
}

.card {
    padding: 30px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}


/* Alignment
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Margins */
.ml-1 {
    margin-left: 1rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-3 {
    margin-right: 3rem;
}
.mt-5 {
    margin-top: 5%;
}
.mt-25 {
    margin-top: 25%;
}

/* Centering */
.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}